body {
  background-color: antiquewhite;
}

.container {
  margin: auto;
  width: 40%;
  background-color: rgb(236, 194, 156);
  padding: 10px;
  margin-top: 100px;
  height: 25px;
}

.menu {
  position: absolute;
  right: 430px;
}
